{% extends "main_header.html" %}
{% block body %}
<div id="main">
			<div class="container">
			
				<div class="row main-row">
				
					<div class="4u">

						{% autoescape false %}
    					{{ myaccountgen }}
						{% endautoescape %}
					
						<section>
							<h2>Browse all jobs by category</h2>
							<div>
								<div class="row">
									<div class="6u">
										<ul class="link-list">
											{% for cat in allcats %}
											<li><a href="/{{ cat.urlname }}">{{ cat.name }}</a></li>
											{% endfor %}
										</ul>
									</div>
									<div class="6u">
										<ul class="link-list">
											{% for cat in allcats %}
											<li><a href="/{{ cat.urlname }}">{{ cat.name }}</a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</section>
						<section>
						<h2>Find Jobs by city / state</h2>
							<div>
							{% for state in allstates %}
							<h4><a href="{{ url_for('jobsbystate', abbr=state.abbr) }}">{{ state.name }}</a></h3>

										<ul class="sidebar">
										{% for id, name in state.cities.iteritems() %}
										<li><a href="#">{{ name }} </a></li>
										{% endfor %}
										</ul>

							
				  					{% else %}
				    				<em>Unbelievable.  No entries here so far</em>
				 				{% endfor %}
				 			</div>
				 			<div class="row">
				 			</div>
						</section>
						<section>
				    <h1>Flaskr</h1>
				  <div class=metanav>
				
				    <a href="{{ url_for('index') }}">Index2</a>
				
				    <a href="{{ url_for('createcity') }}">log out</a>
				<br />
				{% autoescape false %}
				    {{ test }}
				{% endautoescape %}
				<br />
				  </div>
				  {% for message in get_flashed_messages() %}
				    <div class=flash>{{ message }}</div>
				  {% endfor %}
				  Index of application page.
				
				{{ li }}
				<br />
				{{ fb }}
				
				
				<br />
						</section>
					</div>
					<div class="8u skel-cell-important">

						<section class="right-content">
							
						</section>
					
					</div>
				</div>
			</div>
		</div>
		



{% endblock %}