{% extends "main_header.html" %}
{% block body %}
<div id="main">
			<div class="container">
			
				<div class="row main-row">
				
					<div class="4u">

						{% autoescape false %}
    					{{ myaccountgen }}
						{% endautoescape %}
						
						{% autoescape false %}
    					{{ leftsidebargen }}
						{% endautoescape %}
					<section>
				    <h1>Flaskr</h1>
				  <div class=metanav>
				
				    <a href="{{ url_for('index') }}">Index2</a>
				
				    <a href="{{ url_for('createcity') }}">log out</a>
				<br />
				{% autoescape false %}
				    {{ test }}
				{% endautoescape %}
				<br />
				  </div>
				  {% for message in get_flashed_messages() %}
				    <div class=flash>{{ message }}</div>
				  {% endfor %}
				  Index of application page.
				
				{{ li }}
				<br />
				{{ fb }}
				
				
				<br />
						</section>
					</div>
					<div class="8u skel-cell-important">

						<section class="right-content">
							This is the main section.
						</section>
					
					</div>
				</div>
			</div>
		</div>
		



{% endblock %}