				<div class="row">
					<div class="12u">
					
						<div id="banner">
							<h2>Your Job Search Starts Here!</h2>
							<div id="homesearchform">
								<form action="" method="post" class="">
    								<div style="float: left; margin-left: 280px;">
    									<div style="float: none;"><label>Key Words</label></div>
    									<div style="float: none;"><input id="name" type="text" name="name" class="keywordbox" placeholder="Job Title, Description, etc..."></div>
    								</div>
    								<div style="float: left;">
    									<div style="float: none;"><label>State</label></div>
    									<div style="float: none;">
    										<select class="selectbox">
  											<option value="volvo">Select State...</option>
  											<option value="saab">Saab</option>
  											<option value="mercedes">Mercedes</option>
  											<option value="audi">Audi</option>
											</select>
										</div>
    								</div>
    								<div style="float: left;">
										<div style="float: none;"><label>City</label></div>
										<div style="float: none;">
											<select class="selectbox">
											<option value="volvo">Select City...</option>
											<option value="saab">Saab</option>
											<option value="mercedes">Mercedes</option>
											<option value="audi">Audi</option>
											</select>
										</div>
									</div>
								</form>
							</div>
							
							<span>We are a 100% free to use job classifieds.  Start searching for your new job today!</span>
						</div>
				
					</div>
				</div>