<section>
	<h2>My Account</h2>
	<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="true" data-auto-logout-link="true" onlogin="checkLoginState();"></div>
	<ul class="small-image-list">
		<li>
			<a href="#"><img src="/static/images/document-add-icon.png" alt="" class="left" /></a>
			<h4>Post a Job</h4>
			<p>Create a free job listing!</p>
		</li>
		<li>
			<a href="#"><img src="/static/images/Settings-2-icon.png" alt="" class="left" /></a>
			<h4>Account Settings</h4>
			<p>Edity your account settings.</p>
		</li>
		<li>
			<a href="#"><img src="/static/images/messages-icon.png" alt="" class="left" /></a>
			<h4>My Activity</h4>
			<p>My Messages</p>
			<p>View recent posts.</p>
		</li>
	</ul>
</section>